<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="copyright" content="©Peddi Gopal">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title><%= title %></title>
    </head>
    <body class="bg-slate-300">
        <div class="flex justify-center items-center h-screen">
            <div class="text-center w-96 p-8 bg-white rounded shadow">
                <h1 class="text-4xl font-bold mb-8 text-gray-900">Sports Scheduler</h1>
                <p class="text-lg mb-6 text-gray-600">Welcome to Sports Scheduler!</p>
                <div class="space-y-4">
                    <a href="/signup" class="block bg-blue-500 hover:bg-blue-600 text-white py-3 px-6 rounded-lg font-bold">Sign Up</a>
                    <a href="/login" class="block bg-gray-300 hover:bg-gray-400 text-gray-900 py-3 px-6 rounded-lg font-bold">Sign In</a>
                </div>
            </div>
        </div>
    </body>
</html>
