<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="copyright" content="©Peddi Gopal">
        <script src="https://cdn.tailwindcss.com"></script>
        <title><%= title %></title>
    </head>
    <body class="bg-slate-300">
        <div class="grid grid-cols-4">
            <div class="col-start-2 col-span-2">
                <%- include("header") %>
                    <div class="my-4">
                        <a href="/signout" class="text-blue-500 hover:underline">Signout</a>
                    </div>
                    <div class="my-4">
                        <a href="/createsport" class="text-blue-500 hover:underline">Create Sport</a>
                    </div>
                    <div class="my-4">
                        <a href="#" class="text-blue-500 hover:underline">View Reports</a>
                    </div>
                    <div>
                        <h2 class="font-semibold">Created Sports:</h2>
                    </div>
                    
            </div> 
        </div>
    </body>
</html>
